html {
  text-align: center;
  background-color: #282c34;
  color: white;
}

button {
  /* reset */
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  /* custom */
  padding: 0.4em;
  border: 2px solid white;
  border-radius: 0.4em;
}

.action-menu {
  padding: 0;

  display: flex;
  list-style: none;
  justify-content: center;
}

.action-menu li {
  margin-left: 1em;
}

.action-menu li:first-child {
  margin-left: 0em;
}
